@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    
    background-color: #f8b195;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: #355c7d;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #355c7d;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #fff;
}

.wlcm {
    width: 300px;
    height: 800px;
    background-color: #355c7d;
    opacity: 0.9;
    padding: 55px;
    margin-left: 50px;
}

.wlcm h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 90px;
    color: antiquewhite;
}

.opt form, input[type="button"] {
    color: antiquewhite;
    padding: 10px;
    margin: -14px auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.dr {
    height: 200px;
    position: absolute;
    bottom: -100px;
    right: 800px;
    text-align: center;
    font-weight: normal;
    transform: translateX(-20%);
    font-size: 20px;
}

.wlcm h4 {
    text-align: justify;
    color: antiquewhite;
    font-weight: normal;
}

.wlcm h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin: 40px auto;
    color: antiquewhite;
}

.menu {
    height: 150px;
    position: absolute;
    bottom: 530px;
    right: 25%;
    text-align: center;
    color: #355c7d;
    font-weight: normal;
    transform: translateX(-20%);
    font-size: 60px;
}

.pasta {
    height: 100px;
    position: absolute;
    bottom: 400px;
    right: 700px;
    text-align: center;
    color: #355c7d;
    font-weight: normal;
    transform: translateX(-20%);
    font-family: cursive;
}

.flatbread {
    height: 200px;
    position: absolute;
    bottom: 300px;
    right: 350px;
    text-align: center;
    color: #355c7d;
    font-weight: normal;
    transform: translateX(-20%);
    font-family: cursive;
}

.rice {
    height: 150px;
    position: absolute;
    bottom: 150px;
    right: 700px;
    text-align: center;
    color: #355c7d;
    font-weight: normal;
    transform: translateX(-20%);
    font-family: cursive;
}

.chix {
    height: 250px;
    position: absolute;
    bottom: 50px;
    right: 350px;
    text-align: center;
    color: #355c7d;
    font-weight: normal;
    transform: translateX(-20%);
    font-family: cursive;
}

.pasta2 img {
    height: 150px;
    position: absolute;
    bottom: 350px;
    right: 980px;
    transform: translateX(-20%);
}

.flat img {
    height: 150px;
    position: absolute;
    bottom: 350px;
    right: 50px;
    transform: translateX(-20%);
}

.rice1 img {
    height: 150px;
    position: absolute;
    bottom: 150px;
    right: 950px;
    transform: translateX(-20%);
}

.cw img {
    height: 150px;
    position: absolute;
    bottom: 150px;
    right: 50px;
    transform: translateX(-20%);
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cool2 img {
    height: 150px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    transform: translateX(-20%);
}

.cafe2 img {
    height: 150px;
    position: absolute;
    bottom: 150px;
    right: 460px;
    transform: translateX(-20%);
}

.fr2 img {
    height: 150px;
    position: absolute;
    bottom: 100px;
    right: 950px;
    transform: translateX(-20%);
}

.cool {
    height: 400px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    text-align: center;
    color: #355c7d;
    font-weight: normal;
    transform: translateX(-20%);
}

.cafe {
    height: 400px;
    position: absolute;
    bottom: 20px;
    right: 480px;
    text-align: center;
    color: #355c7d;
    font-weight: normal;
    transform: translateX(-20%);
}

.fr {
    height: 400px;
    position: absolute;
    bottom: 20px;
    right: 900px;
    text-align: center;
    color: #355c7d;
    font-weight: normal;
    transform: translateX(-20%);
}

.social-icons {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: beige;
    line-height: 0px;
}